*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7a00ff;
}

.fundo{
    background-color: blue;
    width: 660px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.amarelo{
    background-color: yellowgreen;
    padding: 80px;
    margin: 10px;
}

.alongar{
    padding-right: 279px;
}

.esticar{
    padding-bottom: 300px;
}

.esticar_pouco{
    padding-bottom: 200px;
}